/* Import Google Fonts - Nunito & Roboto */
@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:300,400,500&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nunito', sans-serif;
}

 /* Hero Section */
.hero-section {
    position: relative;
    background-image: url(../images/hero-bg1.jpg);
    background-position: center center;
    background-size: cover;
    padding: 90px 0;
    padding: 120px 0;
    min-height: 100vh;
}

.search-hero-section {
    position: relative;
    background-image: url(../images/hero-bg1.jpg);
    background-position: center center;
    background-size: cover;
    padding: 90px 0;
    min-height: 400px;
}
.hero-section::before , .search-hero-section::before {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    content: "";
    background-color: rgba(27,35,46,0.6);
}

.hero-content span {
    display: inline-block;
    background: #DB6060;
    padding: 8px 10px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    border-radius: 3px;
}

.hero-content h2 {
    font-size: 72px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.1rem;
    margin-top: 10px;
}

.hero-content h5 {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    letter-spacing: 0.1rem;
    margin-top: 30px;
}
.specifications {
    margin-top: 20px;
}
.hero-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hero-content ul li {
    float: left;
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin-right: 20px;
}

.hero-content li i {
    color: #73C2C7;
    font-size: 24px;
    margin-right: 5px;
}

.home_search_container {
    position: absolute;
    top: -170px;
    left: 15px;
    width: calc(100% - 30px);
    height: 90px;
    border-radius: 4px;
    padding: 10px;
    background: rgba(255,255,255,.33);
}
.home_search_content {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 4px;
}
.search_form {
    position: relative;
    height: 100%;
}
.search_form_content {
    width: 100%;
    height: 100%;
    padding-left: 14px;
    padding-right: 11px;
}
.search_form_content>div:not(:last-child) {
    border-right: solid 2px #d1d1d1;
}
.search_form_content>div {
    width: 20%;
    height: 100%;
    padding-left: 18px;
    padding-right: 2px;
}
.search_form_select {
    display: block;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-shadow: 0 0 0 transparent;
    -webkit-user-select: none;
    background-image: url(../images/down.png);
    background-position: center right;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #6b6b6b;
    cursor: pointer;
}
.search_form_button {
    width: 193px;
    height: 100%;
    border-radius: 0 4px 4px 0;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: linear-gradient(to right,#487fee,#595AED);
}

.prop-thumbnail {
    position: relative;
    width: 100%;
    height: 350px;
    background-size: cover;
    background-position: center center;
    border-radius: 4px;
}


.prop-thumbnail::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: rgba(0,0,0,0.3);
}

.prop-thumbnail span.tag {
    position: absolute;
    background: #08BB8D;
    padding: 10px 15px;
    left: 20px;
    top: 20px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.1rem;
}

.prop-thumbnail .price {
    color: #fff;
    position: absolute;
    background: #595AED;
    right: 20px;
    top: 20px;
    font-size: 14px;
    padding: 10px 24px;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.recent_item_footer {
    position: absolute;
    bottom: 0;
    background: #28B1C9;
    width: 100%;
    color: #fff;
    padding: 15px 20px;
}
a.see-more-btn {
    background: linear-gradient(to right,#487fee,#595AED);
    display: inline-block;
    padding: 16px 43px;
    text-transform: uppercase;
    color: #fff;
    border-radius: 4px;
    letter-spacing: 0.1rem;
    font-weight: 500;
}
.recent_icon {
    display: inline-block;
}

.recent_icon span {
    font-weight: 200;
    font-size: 9px;
    display: block;
    color: #000;
}


.recent_item_footer span {
    font-weight: 100;
    font-size: 14px;
}

.recent_icon i {
    margin-right: 5px;
}

h2.section-title {
    font-size: 34px;
    font-weight: 600;
    color: #333333;
}

p.section-subtitle {
    font-size: 14px;
    color: #686767;
}

.single-property-widget {box-shadow: 8px 14px 38px rgba(39, 44, 49, 0.06), 1px 3px 8px rgba(39, 44, 49, 0.03);border-radius: 4px;margin-bottom: 70px;border: 1px solid rgba(162, 162, 162, 0.13);}


.prop-content {
    padding: 20px;
}

.prop-content .location {
    font-size: 12px;
    color: #686767;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.prop-content h2 {
    font-size: 22px;
    font-weight: 600;
    color: #333;
    margin-top: 8px;
}

section.recent-property-section {
    padding: 120px 0;
}
section.recent-property-section a {
    text-decoration: none;
}
.breadcrumbs ul li {
    display: inline-block;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 1.1;
}
.breadcrumbs ul li a {
    font-size: 14px;
    font-weight: 200;
    color: #FFFFFF;
    line-height: 1.1;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.breadcrumbs ul li:not(:last-child)::after {
    display: inline-block;
    content: '/';
    margin-left: 3px;
    margin-right: 3px;
}
.home_content .home_title {
    font-size: 30px;
    color: #fff;
    font-weight: 500;
}
.intro-section {
    padding-top: 80px;
}

.intro_title h2 {
    font-size: 44px;
    font-weight: 700;
    line-height: 0.75;
    color: #252525;
}
.intro_tags {
    margin-top: 28px;
}
.intro_tags ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.intro_tags ul li:not(:last-child) {
    margin-right: 5px;
}
.intro_tags ul li {
    display: inline-block;
    height: 35px;
    background: #EAF4FF;
    margin-bottom: 5px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
    border-radius: 4px;
}

.intro_tags ul li a {
    display: block;
    padding-left: 28px;
    padding-right: 11px;
    line-height: 35px;
    position: relative;
    color: #3D99FC;
    font-size: 14px;
    font-weight: 200;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.intro_tags ul li a::before {
    position: absolute;
    width: 10px;
    height: 10px;
    content: "";
    left: 9px;
    top: 12px;
    background: #fff;
    border-radius: 50%;
}

.intro_price_container {
    height: 86px;
    padding-left: 48px;
    padding-right: 43px;
    background: linear-gradient(to right,#049FFE,#0050FB);
    border-radius: 4px;
}
.intro_price_container > div:first-child {
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
    line-height: 0.75;
}
.intro_price {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    line-height: 0.75;
    margin-top: 12px;
}